.odd {
    background-color: #ffcccc;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
    color: #6699ff;
    font-size: 36px;
}

.adjust_font {
    font-size: 24px;
}

#fourth {
    background-color: #99ff99;
    font-weight: bold;
}